# To ignore editor-specific and system specific files like:
# `.DS_Store` files on macOS, `.idea` directories or Vim swap files
# Add them to your global ignore: $HOME/.config/git/ignore

# Executable
go-bench-away

# Tests
*.test

# Coverage
coverage.out
coverage.html

# Goreleaser
/dist
.envrc

# HTML reports
*.html
