<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
        <style>
          div.chart {
            border: 2px dotted black;
            padding: 3px;
            margin: 3px;
          }
          table.data_table {
            border: 2px dotted black;
            padding: 3px;
            margin: 3px;
          }
          td {
            padding: 4px;
            border-bottom: 1px solid gray;
          }
        </style>
    </head>
    <body>
      <h1>{{.Title}}</h1>
      <h2>Speed comparison: {{.OldName}} vs {{.NewName}}</h2>
      <table>
        <tr><th></th><th>{{.OldName}}</th><th>{{.NewName}}</th></tr>
        {{range .InfoTable}}
        <tr><th>{{.RowName}}</th><td>{{.OldValue}}</td><td>{{.NewValue}}</td></tr>
        {{end}}
      </table>

      <p>n.b. Hover to see values. Click and drag to zoom. Double-click to zoom out</p>
      <h2>Throughput (MB/s)</h2>
      <div id="speeds_chart" class="chart"></div>
      <h2>Speedup</h2>
      <div id="speed_deltas_chart" class="chart"></div>
      <h2>Data</h2>
      <div>
        <table class="data_table">
          <tr><th>Benchmark</th><th>{{.OldName}} (MB/s)</th><th>{{.NewName}} (MB/s)</th><th>Delta</th></tr>
          {{range .ExperimentsTable}}
          <tr><td>{{.ExperimentName}}</td><td>{{.OldSpeed}}</td><td>{{.NewSpeed}}</td><td>{{.Delta}}</td></tr>
          {{end}}
        </table>
      </div>
    </body>
    <script>
        // Speeds plot
        var oldSpeeds = {
          y: {{.ExperimentNames}},
          x: {{.OldSpeeds}},
          text: {{.OldSpeedLabels}},
          name: '{{.OldName}}',
          error_x: {
            type: 'data',
            array: {{.OldSpeedErrors}},
            visible: true
          },
          type: 'bar',
          orientation: 'h',
        };
        var newSpeeds = {
          y: {{.ExperimentNames}},
          x: {{.NewSpeeds}},
          text: {{.NewSpeedLabels}},
          name: '{{.NewName}}',
          error_x: {
            type: 'data',
            array: {{.NewSpeedErrors}},
            visible: true
          },
          type: 'bar',
          orientation: 'h',
        };
        var speedsLayout = {
          barmode: 'group',
          yaxis: {
            ticklabelposition: "inside",
            autorange: "reversed",
          },
          xaxis: {
            title: "MB/s"
          },
          autosize: true,
          height: {{ len .ExperimentsTable}} * 60,
          margin: {
            t: 10,
            b: 20,
          },
        };
        Plotly.newPlot('speeds_chart', [oldSpeeds, newSpeeds], speedsLayout);

        // Percentage difference plot
        var data = [{
          type: 'bar',
          x: {{.Deltas}},
          y: {{.ExperimentNames}},
          text: {{.DeltaLabels}},
          marker: {
            color: {{.DeltaColors}}
          },
          orientation: 'h'
        }];
        var deltasLayout = {
          xaxis: {
            title: "Δ%",
            ticksuffix: "%",
            // range: [-100, 100],
            zeroline: true,
            zerolinewidth: 3,
          },
          yaxis: {
            ticklabelposition: "inside",
            automargin: true,
            dtick: 1,
            autorange: "reversed",
          },
          autosize: true,
          height: {{ len .ExperimentsTable}} * 40,
          margin: {
            t: 10,
            b: 40,
          }
        };
        Plotly.newPlot('speed_deltas_chart', data, deltasLayout)
    </script>
</html>
