<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
        <style>
          div.chart {
            border: 2px dotted black;
            padding: 3px;
            margin: 3px;
          }
          table {
            border: 2px dotted black;
            padding: 3px;
            margin: 3px;
          }
          td {
            padding: 4px;
            border: 1px solid gray;
          }
        </style>
    </head>
    <body>
      <h1>{{.Title}}</h1>

      <details>
        <summary>Show jobs details</summary>
        <table>
          <tr>
            <th>Ref</th>
            <th>Source</th>
            <th>Filter</th>
            <th>Repetitions</th>
            <th>Go</th>
            <th>Worker</th>
            <th>Job</th>
          </tr>
          {{range .Jobs}}
          <tr>
            <th>{{.Parameters.GitRef}}</th>
            <td>{{.Parameters.GitRemote}}@{{.Parameters.GitRef}}<br>({{.SHA}})</td>
            <td>{{.Parameters.TestsFilterExpr}}</td>
            <td>{{.Parameters.Reps}} x {{.Parameters.TestMinRuntime}}</td>
            <td>{{.GoVersion}}</td>
            <td>{{.WorkerInfo.Version}}<br>{{.WorkerInfo.Hostname}}<br>{{.WorkerInfo.Uname}}</td>
            <td>{{.Id}}<br>{{.Completed}}</td>
          </tr>
          {{end}}
        </table>
      </details>

      {{range .Views}}
      <h2>{{.Title}}</h2>

      <div id="{{.ChartId}}" class="chart"></div>

      <table>
        <tr>
          <th></th>
          {{range .JobLabels}}
          <th>{{.}}</th>
          {{end}}
        </tr>

        {{range .Summary}}
        <tr>
          <th>{{.BenchmarkName}}</th>
          {{range .Values}}
          <td>{{.}}</td>
          {{end}}
        </tr>
        {{end}}
      </table>

      {{end}}

    </body>
    <script>
      {{range .Views}}
      var {{.ChartId}}_data = {{.Data}}
      var {{.ChartId}}_layout = {
        yaxis: {
          title: {{.AxisLabel}},
        },
        xaxis: {
          tickvals: [{{range .Jobs}}{{.Id}},{{end}}],
          ticktext : [{{range .JobLabels}}{{.}}, {{end}},]
        }
      };
      Plotly.newPlot('{{.ChartId}}', {{.ChartId}}_data, {{.ChartId}}_layout);
      {{end}}
    </script>
</html>
