<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Go Bench Away</title>
  </head>
  <body>
    <h1>Go Bench Away</h1>
    {{.SubmittedCount}} jobs submitted
    <h3>Go to <a href="./queue">queue</a></h3>
  </body>
</html>
