<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Go Bench Away</title>
    <style>
    table.queue_table {
      margin-right: 50px;
      margin-left: 50px;
    }

    table.job_table {
      margin: 15px;
    }
    </style>
  </head>
  <body>
    <h1>Go Bench Away</h1>
    <h2>Jobs queue</h2>
    <table class="queue_table">
      {{range .Jobs}}
      <tr><td>
      {{template "job" .}}
      </td></tr>
      {{end}}
    </table>
  </body>
</html>

{{define "submitted_job"}}

{{end}}

{{define "job"}}
    <table class="job_table">
      <tr>
        <td colspan=2><h3>{{ .Status.Icon }} {{.Id}}</h3></td>
      </tr>
      <tr>
        <td colspan=2>{{template "job_status_message" .}}</td>
      </tr>
      <tr>
        <th>Source:</th><td><b>{{.Parameters.GitRef}}</b> from {{.Parameters.GitRemote}}</td>
      </tr>
      <tr>
        <th>Filter:</th><td>'<b>{{.Parameters.TestsFilterExpr}}</b>' in directory {{.Parameters.TestsSubDir}}</td>
      </tr>
      <tr>
        <th>Repetitions:</th><td><b>{{.Parameters.Reps}}</b> x {{.Parameters.TestMinRuntime}}</td>
      </tr>
      <tr>
        <th>Artifacts:</th><td>{{template "record_artifact" .}}{{template "log_artifact" .}}{{template "results_artifact" .}}{{template "script_artifact" .}}</td>
      </tr>
      {{if ne .Results ""}}
      <tr>
        <th>Results</th><td>{{template "plot_results" .}}</td>
      </tr>
      {{end}}
    </table>
{{end}}

{{define "record_artifact"}}[<a href="/job/{{.Id}}/record">Job Record</a>]{{end}}
{{define "log_artifact"}}{{if ne .Log ""}}[<a href="/job/{{.Id}}/log">Log</a>]{{end}}{{end}}
{{define "results_artifact"}}{{if ne .Results ""}}[<a href="/job/{{.Id}}/results">Results</a>]{{end}}{{end}}
{{define "script_artifact"}}{{if ne .Script ""}}[<a href="/job/{{.Id}}/script">Run Script</a>]{{end}}{{end}}
{{define "plot_results"}}[<a href="/job/{{.Id}}/plot">Plot</a>]{{end}}

{{define "job_status_message"}}
{{if eq .Status.String "SUCCEEDED"}}
  Completed in {{.RunTime}}
{{else if eq .Status.String "FAILED"}}
  Completed in {{.RunTime}}
{{else if eq .Status.String "RUNNING"}}
  Running for {{.RunTime}} (timeout: {{.Parameters.Timeout}})
{{else if eq .Status.String "SUBMITTED"}}
  Waiting in queue
{{else if eq .Status.String "CANCELLED"}}
  Cancelled
{{else}}
  Unknown status: <b>{{.Status.String}}</b>
{{end}}
{{end}}
